@charset "UTF-8";

@media screen and (max-width:769px) {
    
*{ 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #fff, #0189ff);
    background-attachment: fixed;
    height: 100vh;
}

header, main, aside, footer{
    width: 90vw;
    margin-left: 10px;
}

header{
    background-color: rgba(100, 243, 195, 0.89);
    border: 4px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header > h1#new {
    color: black;
}

h2{
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

header > h2#novo {
    color: rgb(114, 3, 64);
    padding: 10px;
    margin: 5px;
    border: 4px solid;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;    
}

h1{
    text-align: justify;
}

div.quadrado{
    display: inline-block;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px 25px;
    width: 300px;
    height: 300px;
}

div#q1{
    background-image: linear-gradient(to bottom, yellow, red);  
}

div#q2{
    background-image: url(images/O-Espetacular-Homem-Aranha-Wallpaper.jpg);
}

header{
   text-align: center;
}

header > h1{
    text-align: center; 
    color: blueviolet;
}

header > p{
    color: coral;
}

header > h2{
    color: rgb(174, 14, 189);
}

main{
    background-color: rgb(27, 99, 192);
    border: 4px solid black;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

main > picture {
    margin-left: 30px;
}

main > audio {
    margin-left: 20px;
}

main > video {
    /*  margin-left: 10px;
    width: 150px;
    height: 150px;*/
        max-width: 300px;
        height: auto;
}

main > h1{
    text-align: center;
    color: forestgreen;
}

#h1{
    color: crimson;
}

#h2{
    color: darkmagenta;
}

#h3{
    color: bisque;
}

#h4{
    color: hotpink;
}

aside{
    background-color: red;
    border: 4px solid black;
    text-align: center;
}

iframe{
    margin: auto;
    display: block;
}

aside > h1{
    text-align: center;
    color: tomato;
}

footer{
    background-color: black;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    color: black;
}

footer > p{
    color: #ffffff;
}
}