@charset "UTF-8";

*{ 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #ffffff, #0000ff);
    background-attachment: fixed;
}

h1{
    text-align: justify;
}

div.quadrado{
    display: inline-block;
    padding: auto;
    border: 2px 2px solid black;
    border-radius: solid 5px;
    margin: auto;  
}

div#q1{
    background-image: url(images/spider-man-2880x1800-playstation-4-2018-5k-15051.jpg);
    background-color: black;   
}

div#q2{
    background-image: url(´images/O-Espetacular-Homem-Aranha-Wallpaper.jpg´);
    background-color: aqua;
}