@charset "UTF-8";

*{ 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #fff, #0189ff);
    background-attachment: fixed;
}

h1{
    text-align: justify;
}

div.quadrado{
    display: inline-block;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px 25px;
    width: 300px;
    height: 300px;
}

div#q1{
    background-image: linear-gradient(to bottom, yellow, red);  
}

div#q2{
    background-image: url(images/O-Espetacular-Homem-Aranha-Wallpaper.jpg);
}

header{
   text-align: center;
}

header > h1{
    text-align: center; 
    color: blueviolet;
}

header > p{
    color: coral;
}

header > h2{
    color: rgb(174, 14, 189);
}

main{
    text-align: center;
}

main > h1{
    text-align: center;
    color: forestgreen;
}

#h1{
    color: crimson;
}

#h2{
    color: darkmagenta;
}

#h3{
    color: bisque;
}

#h4{
    color: hotpink;
}

aside{
    text-align: center;
}

aside > h1{
    text-align: center;
    color: tomato;
}

footer{
    border: 3px solid black;
    padding: 0px;
    text-align: center;
    color: black;
}