@charset "UTF-8";

*{ 
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #fff, #00f);
    background-attachment: fixed;
}

h1{
    text-align: justify;
}

div.quadrado{
    display: inline-block;
    border: 5px solid black;
    border-radius: 15px;
    margin: 10px 25px;
    width: 300px;
    height: 300px;
}

div#q1{
    background-image: linear-gradient(to bottom, yellow, red);  
}

div#q2{
    background-image: url(images/O-Espetacular-Homem-Aranha-Wallpaper.jpg);
}